body,.container,.row{
	width: 100%; 
	padding:0;
	margin: 0;
}


.container{
	width: 100%;
}
h1,h2,h3,h4{
	color: white;
}
p{
	color:white;
	font-family: Monaco,Consolas,Helvetica,Frutiger,"Courier New",monospace;
	letter-spacing: -0.03em;
	
}
a,a:hover,a:link{
	text-decoration: none;
}
.navbar-static-top {
  margin-bottom: 0px;
}
.main-section{min-height: 500px;}
/*Header*/

#welcome-section{
	height: 700px;
	background:url('../image/bg/welcome.png') no-repeat center center;
}

#welcome-section .logo{
	margin-top: 80px;
	width: 100%;
}

#welcome-section .logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	max-width: 280px;
	margin-bottom: 20px;
}

.center{
	text-align: center;
}
.slogan{
	margin:30px 0 50px 0;
}
.scrolldown{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 180px;
	text-decoration: none;
	background: url('../image/scroll-down1.png') no-repeat 50% 40px;
	background-size: 20%;
}

.scrolldown h3{
	border-bottom: 3px solid white;
	margin-bottom: 15px;
	padding-bottom: 5px;
	text-decoration: none;
	font-size: 14px;
}

#scrollbutton{
	margin: 0 auto;
	display: block;
	width:270px;
	background-color: transparent;
	color: white;
	border-width:2px;
	border-color:white;
}

/*End Header*/

/*Navi Menu*/
#header-navbar{
	border-bottom:0;
}
#header-navbar{
	padding: 0 15px;
	min-height: 60px;
	background-color: rgba(255,255,255,0.95);
}

#brand-button{
	position: relative;
	color:#fff;
	background-color: #494949;
	height: 60px;
	width: 120px;
}
#brand-button img{
	width: 50%;
	position: relative;
	height: auto;
	margin: 0 auto;
	top:-7px;
	display: block;

}
.navbar-toggle{
	margin-top:13px;
	margin-bottom:13px;
}
#navi-button li>a{
	font-size: 16px;
	padding: 18px 20px;
	min-width: 60px;
	line-height: 24px;
}
/*End Navi Menu*/

/*Section Header*/
.section-header{
	width: 100%;
	height:210px;
	background-repeat: no-repeat;
	background-position: center -10px;
	background-size: 150%;/*Change in different width*/
}

.section-header h1{
	position: relative;
	margin: 0 auto;
	top:25%;
	padding: 25px 0;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-size: 4rem;
	text-align: center;
	width: 170px;

}

.resume{
	/*background-color:re d;*/
	width:130px;
	height:147px;
	position: absolute;
	right:5px;
	top :-847px;
	background: url('../image/scroll-down1.png') no-repeat 55% 72px;
	background-size: 30%;

}
.resume h4{
	border-bottom:3px solid white;
}


/*End Section Header*/

/*Work Section*/
.project-list{
	height:250px;
	min-width: 320px;
	border:1px solid #494949;
	background-color: red;
	width: 33.33333333%;
	float: left;
}
@media screen and (max-width: 960px){
	.project-list{
		width: 50%;
		min-width: 0;
	}
}
@media screen and (max-width: 480px){
	.project-list{
		width: 100%;
	}
}
.project-detail{
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.75);
}
.project-logo{
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: auto;
	margin-top: 8%;
}
.project-detail h2{
	color:#494949;
	font-size: 20px;
}
.project-detail h4{
	color: #494949;
	font-size: 14px;
}

.project-1{
	background:url(../image/project/nuwa-b.jpg) no-repeat center;
	background-size: 150%;

}
.project-1:hover{
	background-image:url(../image/project/nuwa.jpg) !important;
}

.project-2{
	background:url(../image/project/infovis-b.jpg) no-repeat center;
	background-size: 120%;

}
.project-2:hover{
	background-image:url(../image/project/infovis.jpg) !important;
}

.project-3{
	background:url(../image/project/knowie-b.png) no-repeat center;
	background-size: 100%;

}
.project-3:hover{
	background-image:url(../image/project/knowie.png) !important;
}

.project-4{
	background:url(../image/project/mlh-b.jpg) no-repeat center;
	background-size: 100%;

}
.project-4:hover{
	background-image:url(../image/project/mlh.jpg) !important;
}

.project-5{
	background:url(../image/project/usgs-b.jpg) no-repeat center;
	background-size: 110%;

}
.project-5:hover{
	background-image:url(../image/project/usgs.jpg) !important;
}

.project-6{
	background:url(../image/project/graphic-b.jpg) no-repeat center;
	background-size: 120%;

}
.project-6:hover{
	background-image:url(../image/project/graphic.jpg) !important;
}
/*End Work Section*/

/*About Section*/
.about-section{
	background-color: #c4cec4;
}
.about-center{
	margin: 0 auto;
	display: block;
	width:70%;
}
.about-social-center{
	width: 100%;
}
.about-social-center div{
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 400px;

}
.circle-img{
	width: 200px;
    height: 200px;
    border: 3px solid #494949;
    border-radius: 50%;
    margin: 20px auto 0 auto;
    background:url(../image/photo.jpg) no-repeat center;
    background-size: 250px 250px;
    transition-duration: 0.8s;
    transition-property: transform;
}

.circle-img:hover{
	transform: rotate(360deg);
}

.social-img{
	float: left;
	width: 70px;
	height: 70px;
	border:2px solid white;
	margin:5px 10px 10px 5px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.social-img-1{
	background-image: url(../image/social/facebook_t.png);
}
.social-img-1:hover{
	background-image: url(../image/social/facebook.png);
	border-color: white;
}
.social-img-2{
	background-image: url(../image/social/linkedin_t.png);
}
.social-img-2:hover{
	border-color: white;
	background-image: url(../image/social/linkedin.png);
}
.social-img-3{
	background-image: url(../image/social/twitter_t.png);
}
.social-img-3:hover{
	border-color: white;
	background-image: url(../image/social/twitter.png);
}
.social-img-4{
	background-image: url(../image/social/github_t.png);
}
.social-img-4:hover{
	border-color: white;
	background-image: url(../image/social/github.png);
}
.introduction{
	font-size: 18px;
	color: #494949;
	text-shadow: 0px 1px 1px #fff;
}
#skill-visualization{
	width: 960px;
	height:400px;
	background-color: #c4cec4;
	margin: 0 auto;
}
#narrow-visualization{
	width:480px;
	height:400px;
	background-color: #c4cec4;
	margin: 0 auto;
	display: none;
}
@media screen and (max-width:960px) and (min-width: 480px){
	#skill-visualization{
		display: none;
	}
	#narrow-visualization{
		display: block;
	}
}
@media screen and (max-width: 480px){
	#narrow-visualization{
		display: none;
	}
	#skill-visualization{
		display: none;
	}
	.row .main-section{
		min-height: 10px;
	}

}
/*End About Section*/
.contact-section{
	background-color: #9c9b9b;
}
.contact-section h3,h4{
	margin-bottom: 20px;
}
.contact-section p{
	font-size: 18px;
	margin-bottom: 20px;
}
.form-control{
	margin-bottom: 25px;
	width: 70%;
}
.map{
	width: 80%;
	height:300px;
	background-color: white;
}
.map iframe{
	width: 100%;
	height: 100%;
}
#submit-button{
	padding: 0;
}
/*Contact Section*/

/*End contact section*/

/*Load Page*/
#overlay{
	width: 100%;
	height: 1200px;
	background-color: #e8ede8;
	position: fixed;
	z-index: 1050;
}
#loading-loader{
	width:30%;
	max-width: 200px;
	height:auto;
	margin:200px auto 0;
	display: block;
}
#overlay h3{
	color: #494949;
}

.loader{

}


/*End Load Page*/

/*project fixed*/
#project-fixed{
	position:fixed;
    width:100%;
    height:100%;
    background:rgba(50,50,50,0.8);
    left:0;
    top:0;
    opacity: 0;
    display: none;

}

#project-text{
	position:fixed;
    width:94%;
    height:85%;
    background:rgba(255,255,255,0.95);
    left:3%;
    top:81px;
    border:3px solid #dddddd;
    overflow: auto;
}
#fixed-close{
	position: fixed;
	margin-left: 97%;
	width:36px;
	top:62px;
	z-index:9999;
	left: -18px
}
#header-project{
	background-color: rgba(220,220,220,0.9);
	border-bottom: 2px solid #dddddd;
	top:84px;
	width: 94%;
	left: 3%;
}
#header-project>div{
	width:80%;
	max-width: 900px;
	margin: 0 auto;
}
.arrowleft,.arrowright{
	float: left;
	width:10%;
	height: 48px;
}
.arrowleft{
	background:url(../image/arrow-l.png) no-repeat 0% 10px;
	background-size:  14px 28px;
}
.arrowright{
	background:url(../image/arrow-r.png) no-repeat 100% 10px;
	background-size: 14px 28px;
}
#header-project h4{
	color: #494949;
	width: 80%;
	float: left;
	padding-top: 5px;
}
.project-content{
	width:80%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 60px;
}
.project-img{
	width: 100%;
	height:auto;
	max-width: 700px;
}
.project-content h2{
	color: #494949;
}
.project-content p{
	color: #494949;
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0px 1px 1px #fff;
	line-height: 115%;
	margin-bottom: 15px;
	letter-spacing: -0.025em;
}
.project-content pre{
	width: 100%;
	max-width: 700px;
	margin-bottom: 15px;
}
.project-content a.btn{
	font-size: 15px;
	text-shadow:none;
}
/*end project fixed*/

#footer-section{
	background-color: #494949;
	padding-top: 20px;
}

.DetailText{
	width: 200px;
}

